@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
}

.container {
    min-height: calc(100vh - 60px - 81px) !important;
}

.title-bar {
    font-weight: 600;
    transition: 0.5s;
}

    .title-bar #title-text {
        color: white;
        padding: 30px;
        position: relative;
        left: 0;
        top: 15px;
        font-size: 25px;
        background-color: white;
        background-size: 100%;
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s;
    }

        .title-bar #title-text:hover {
            top: 20px;
        }

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-md-5 {
    padding-right: 0;
    padding-left: 0;
}

.rounded-start-5 {
    border-radius: 1rem 0 0 1rem !important;
}

.rounded-end-5 {
    border-radius: 0 1rem 1rem 0 !important;
    padding: 2rem;
}

.card-1,
.card-2 {
    color: #34334b;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

    .card-1 img {
        width: 210px;
        border-radius: 50%;
    }

.custom-mt{
    margin-top: 6rem;
}

.card-1 .card-body .social-media {
    margin: 15% 0 30% 0;
}

    .card-1 .card-body .social-media .social-icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        color: #34334b;
        border-radius: 50%;
        border: 1px solid #34334b;
        text-decoration: none;
        font-size: 1.1rem;
        transition: background 0.5s;
    }

        .card-1 .card-body .social-media .social-icon:hover {
            /*color: rgba(148, 187, 233, 1);*/
            color: white;
            border-color: rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.3);
        }

    .card-2 table tr td {
        padding: 10px;
        word-wrap: break-word;
        max-width: 320px;
    }

        .card-2 table tr td:first-child {
            font-weight: bold;
            padding-right: 30px;
            color: #34334b;
        }

.profileBtn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #34334b;
    border: 1px solid #34334b;
    transition: background 0.5s;
    padding: 10px 30px;
    border-radius: 30px;
}

.card-2 table tr td {
    padding: 20px;
}

.card-2 {
    font-size: 1.2rem;
}

.profileBtn:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

#footer {
    color: white;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

hr {
    background-color: white;
    margin-top: 0 !important;
}

.copyright {
    margin-bottom: 0;
    padding: 20px 0;
    text-align: center;
}
