.custom-width {
    width: 250.8px;
}

#btnSignup {
    background-image: linear-gradient(to left, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    border: none;
    outline: none;
    font-weight: 600;
    color: white;
}

    #btnSignup:hover {
        background-image: linear-gradient(to right, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    }