@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
}

.content-container {
    height: calc(100vh - 140px);
}

#title-text {
    color: white;
    padding: 30px;
    position: relative;
    left: 0;
    top: 10px;
    font-size: 25px;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

    #title-text:hover {
        top: 15px;
    }

.title-bar {
    font-weight: 600;
    transition: 0.5s;
}

#signUpText,
#logInText {
    color: #8f528b;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

    .input-field i {
        text-align: center;
        line-height: 55px;
        color: #acacac;
        transition: 0.5s;
        font-size: 1.1rem;
    }

    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.0rem;
        color: #333;
    }

        .input-field input::placeholder {
            color: #aaa;
            font-weight: 500;
        }

span {
    font-size: small;
}

#btnLogin,
#btnSignup {
    width: 150px;
    background-image: linear-gradient(to right, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 0 19px 0;
    cursor: pointer;
    transition: 0.5s;
}

    #btnLogin:hover,
    #btnSignup:hover {
        background-image: linear-gradient(to left, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    }

.hr-line {
    position: relative;
    text-align: center;
    font-size: 15px;
}

#LoginForm .hr-line:before,
#SignupForm .hr-line:before {
    content: " ";
    display: flex;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: linear-gradient(to right, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
}

#LoginForm .hr-line:before {
    width: 140px;
}

#SignupForm .hr-line:before {
    width: 180px;
}

#LoginForm .hr-line:after,
#SignupForm .hr-line:after {
    content: " ";
    height: 1px;
    background-image: linear-gradient(to left, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
}

#LoginForm .hr-line:after {
    width: 140px;
}

#SignupForm .hr-line:after {
    width: 180px;
}

.inner-content {
    width: 450px;
    box-shadow: -1px 0px 13px 3px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(5px);
}

.left-column {
    box-shadow: -1px 0px 13px 3px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(5px);
}

.social-media {
    display: flex;
    justify-content: center;
}

#LoginForm .social-icon,
#SignupForm .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

#LoginForm .social-icon {
    margin: 0 0.45rem;
}

#SignupForm .social-icon {
    margin: 0 0.95rem;
}

    #SignupForm .social-icon:hover,
    #LoginForm .social-icon:hover {
        color: rgba(148, 187, 233, 1);
        border-color: white;
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border-radius: 49px;
}

/* Sign Up Page */
#departmentDropdown,
#managerDropdown {
    width: 24rem;
}

.dropdown-text {
    font-weight: 500 !important;
    font-size: 1.0rem;
}

.custom-select {
    color: #808080 !important;
}

    .custom-select option:not(:disabled) {
        color: #000000;
    }
