
@model List<FinalSkillsLabProject.Common.Models.PrerequisiteMaterialViewModel>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript" src="~/Scripts/DisplayByRoleScript.js"></script>
    <script type="text/javascript" src="~/Scripts/NewTabScript.js"></script>
    <script type="text/javascript" src="~/Scripts/EnrollmentApprovalScript.js"></script>
    <script type="text/javascript" src="~/Scripts/EnrollmentRejectionScript.js"></script>

    <style>
        textarea {
            max-width: 100% !important;
        }

        .input-group.required .input-group-text::after {
            content: "*";
            color: red;
        }
    </style>
</head>

<body>
    <div class="card mb-3 manager-details-card d-none">
        <div class="row g-0">
            <div class="col-md-1 bg-light rounded-start d-flex align-items-center">
                <p class="m-0 ms-3">Manager</p>
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <p class="m-0 manager-details"></p>
                </div>
            </div>
        </div>
    </div>

    @foreach (var prerequisiteMaterial in Model)
    {
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                @prerequisiteMaterial.Description

                <button type="button" class="btn btn-outline-primary rounded-2" onclick="openInNewTab('@prerequisiteMaterial.PrerequisiteMaterialURL')" data-enrollmentstatus="@prerequisiteMaterial.EnrollmentStatus" data-toggle="tooltip" title="View Attachment">
                    <span class="rounded-5 d-flex align-items-center justify-content-center">
                        <i class="fa-regular fa-file-lines"></i>
                    </span>
                </button>
            </div>
        </div>
    }
    <div class="enrollment-data d-none" data-enrollmentid="@ViewBag.EnrollmentId"></div>
    <div class="input-group d-flex d-none declineReason required">
        <span class="input-group-text">Reason for Decline</span>
        <textarea class="form-control w-min-100 declineReasontextarea" aria-label="Reason for Decline"></textarea>
    </div>
    <div class="flex-nowrap d-flex justify-content-between align-items-center mt-3 responseBtnGroup">
        <button type="button" class="btn btn-outline-success rounded-2 ms-auto me-3 w-75 btnApprove" data-toggle="tooltip" title="Approve">
            <span class="rounded-5 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-check"></i>
            </span>
        </button>
        <button type="button" class="btn btn-outline-danger rounded-2 w-25 btnReject" data-toggle="tooltip" title="Reject">
            <span class="rounded-5 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-x"></i>
            </span>
        </button>
    </div>
</body>
