@{
    ViewBag.Title = "Home Page";
}

@section ExcludeBodyContent {

    <head>
        <link rel="stylesheet" href="~/Content/HomeStyle.css" />
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-box">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <h1><span class="welcome-text">Welcome,</span> <span id="username-text">@User.Identity.Name!</span></h1>
                            }

                            else
                            {
                                <h1><span class="welcome-text">Welcome!</span></h1>
                            }

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <a href="/Training/Index" class="btn btnBrowse">Browse Trainings</a>
                            <a href="/Home/Contact" class="btn btnContact">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/Images/Home_1_Colored.png" alt="home_image" class="feature-img">
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/Images/wave_1.svg" class="wave-img">
    </body>
}