
@{
    ViewBag.Title = "ERROR 404";
}

<head>
    <link rel="stylesheet" href="~/Content/Error404Style.css" />
</head>

<body>
    <div class="container h-100">
        <div class="img-container d-flex justify-content-center align-items-center">
            <img class="h-75" src="~/Content/Images/error-404.png" alt="error404">
        </div>
    </div>
</body>


